---
import Button from '../buttons/Button.astro';
import Container from '../Container.astro';
import { Icon } from 'astro-icon';
import settings from '../../config/settings.js';
import { ThemeSwitcher } from '../theme-switcher/theme-switcher';
import { Image } from '@astrojs/image/components';
import homeContent from '../../../public/cms/home.json';
---

<Container>
	
	    <section class="hero-section__section">
		<div class="hero-section__text">
				<h1>
                  {homeContent.title}
                </h1>
				<p>
                    {homeContent.description}
				</p>
				<div class="hero-btns__container">
					<Button href="/contact"  customIcon>Get Started
                        <Fragment slot="icon">
                            <Icon name="ic:baseline-chevron-right"/>
                        </Fragment>
                    </Button>
                        
                <Button href="https://www.therapyportal.com/p/empowered98403/" target="_blank" unelevated customIcon>
                    Client Portal 
                    <Fragment slot="icon">
                            <Icon name="la:external-link-alt"/>
                        </Fragment>
                </Button>
		    </div>
        {settings.enableThemeSwitcher && <ThemeSwitcher client:load/>}
		</div>
		<div class="hero-section__image">
					<!-- <img
						id="home-hero-image"
                        src="/assets/images/home/classic-hero.webp"
                        alt="Empowered Healing Counseling Depression Anxiety Therapy"
					/> -->
                    <Image
                    width={960}
				    height={540}
                    id="home-hero-image"
                    src="./assets/images/home-hero.webp"
                    alt="Empowered Healing Counseling Depression Anxiety Therapy"
                    loading="eager"
                    />
		</div>
	</section>
</Container>

<style>
	.hero-section__section {
		margin: var(--section-margin) auto;
        margin-left: 2rem;
        margin-right: 2rem;
		min-height: clamp(90vh, 100vw, calc(100vh - var(--navbar-height)));
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: center;
		gap: 1rem;
	}
	.hero-section__text {
		justify-self: center;
		max-width: 30rem;
	}
	.hero-btns__container {
		display: flex;
		align-items: center;
		gap: 1rem;
        justify-self: center;
	}
	.hero-btns__container {
		margin-right: 1rem;
	}
	.hero-section__image {
		display: flex;
	}
	.hero-section__image img {
		width: 100%;
		height: 100%;
		max-height: 80vh;
		object-fit: cover;
		border-radius: var(--theme-shape-radius);
	}
	@media (max-width: 768px) {
		.hero-section__section {
			grid-template-columns: 1fr;
            margin-left: 0;
            margin-right: 0;
		}

        .hero-btns__container {
		    margin-right: 0;
            align-items: center;
            justify-content: center;
	    }
	}
</style>
