---
import Button from '../buttons/Button.astro';
import Container from '../Container.astro';
import Icon from '../Icon.astro';
import settings from '../../config/settings.js';
import { ThemeSwitcher } from '../theme-switcher/theme-switcher';
import homeContent from '../../../public/cms/home.json';
---

<Container>
	
	    <section class="hero-section__section">
		<div class="hero-section__text">
				<h1>
                  {homeContent.title}
                </h1>
				<p>
                    {homeContent.description}
				</p>
				<div class="hero-btns__container">
					<Button href="/contact"  customIcon>Get Started
                        <Fragment slot="icon">
                            <Icon name="line-md:chevron-right"/>
                        </Fragment>
                    </Button>
                        
                <Button href="https://www.therapyportal.com/p/empowered98403/" target="_blank" unelevated customIcon newTab>
                    Client Portal 
                    <Fragment slot="icon">
                            <Icon name="line-md:external-link-rounded"/>
                    </Fragment>
                </Button>
		    </div>
        {settings.enableThemeSwitcher && <ThemeSwitcher client:load/>}
		</div>
		<div class="hero-section__image">
                    <img
                    width="780"
                    height="439"
                    id="home-hero-image"
                    src="/assets/images/home-hero.webp"
                    alt="Empowered Healing Counseling Depression Anxiety Therapy"
                    loading="eager"
                    />
		</div>
	</section>
</Container>

<style>
	.hero-section__section {
		margin: var(--section-margin) auto;
		min-height: calc(90vh - var(--navbar-height));
		display: grid;
		grid-template-columns: 1.2fr 1fr;
		align-items: center;
		gap: clamp(2rem, 6vw, 5rem);
		padding: 2rem 0;
	}
	.hero-section__text {
		justify-self: start;
		max-width: 42rem;
	}
	.hero-btns__container {
		display: flex;
		align-items: center;
		gap: 1rem;
		margin-top: 1.5rem;
	}
	.hero-btns__container {
		margin-right: 1rem;
	}
	.hero-section__image {
		display: flex;
	}
	.hero-section__image img {
		width: 100%;
		height: 100%;
		max-height: 80vh;
		object-fit: cover;
		border-radius: var(--theme-shape-radius);
	}
	@media (max-width: 768px) {
		.hero-section__section {
			margin: 2rem auto 0 auto;
			min-height: auto;
			grid-template-columns: 1fr;
			gap: 2rem;
			padding: 1rem 0;
		}

		.hero-section__text {
			justify-self: center;
			text-align: center;
			max-width: 35rem;
		}

        .hero-btns__container {
		    margin-right: 0;
            align-items: center;
            justify-content: center;
	    }
	}
</style>
