---
import SkipLink from '../components/core/SkipLink.astro';
import BaseHead from '../components/head/BaseHead.astro';
import type { Props as BaseHeadProps } from '../components/head/BaseHead.astro';

export interface Props {
	seo?: BaseHeadProps;
}

const { seo } = Astro.props;
---

<html lang="en">
	<head>
		<!-- Google Tag Manager -->
		<script type="text/partytown">
			(function (w, d, s, l, i) {
				w[l] = w[l] || [];
				w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
				var f = d.getElementsByTagName(s)[0],
					j = d.createElement(s),
					dl = l != 'dataLayer' ? '&l=' + l : '';
				j.async = true;
				j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
				f.parentNode.insertBefore(j, f);
			})(window, document, 'script', 'dataLayer', 'GTM-PM4LH3B');
		</script>
		<!-- End Google Tag Manager -->
		<BaseHead {...seo} />
	</head>
	<body>
		<!-- Google Tag Manager (noscript) -->
		<noscript>
			<iframe
				src="https://www.googletagmanager.com/ns.html?id=GTM-PM4LH3B"
				height="0"
				width="0"
				style="display:none;visibility:hidden"
			>
			</iframe>
		</noscript>
		<!-- End Google Tag Manager (noscript) -->
		<SkipLink />
		<slot name="announcement-bar" />
		<slot name="header" />
		<main id="content">
			<slot />
		</main>
		<slot name="footer" />
	</body>
</html>
