---
import SkipLink from '../components/core/SkipLink.astro';
import BaseHead from '../components/head/BaseHead.astro';
import type { Props as BaseHeadProps } from '../components/head/BaseHead.astro';

export interface Props {
	seo?: BaseHeadProps;
}

const { seo } = Astro.props;
---

<html lang="en">
	<head>
		<!-- Google tag (gtag.js) -->
		<script
			type="text/partytown"
			src="https://www.googletagmanager.com/gtag/js?id=G-55CF6WPZQ4"></script>
		<script type="text/partytown">
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag('js', new Date());

			gtag('config', 'G-55CF6WPZQ4');
            <BaseHead {...seo} />
		</script>
	</head>
	<body>
		<SkipLink />
		<slot name="announcement-bar" />
		<slot name="header" />
		<main id="content">
			<slot />
		</main>
		<slot name="footer" />
	</body>
</html>
