html,
body {
	height: 100%;
}

body {
	max-width: 1920px;
	margin: 0 auto;
	background-color: var(--theme-bg); 
    /* background: linear-gradient(315deg,#B89B96 40%,#EBDFC5 100%); */
	position: relative;
    /* background: linear-gradient(to bottom, rgba(3,75, 82, 1) 0%, rgba(3,75, 82, 0) 100%); */
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

pre {
  padding: 1em;
  border-radius: 0.5em;
  overflow: auto;
}

pre .language-id {
  display: none;
}